/* css样式重置 */
body,ol,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,form,fieldset,legend,input{ margin:0; padding:0;}
/* h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;} */
ol,ul{ list-style:none;}
a{text-decoration:none;}

/* 空白div */
.blank{
    width:100%;height:100px;
}
/* 面包屑导航 */
div.nav_main-1{
   width:1024px;height:72px;
   margin:0 auto;
}
div.nav_main-1 p{
    font-size:12px;
    width:1024px;
    color:#999;
    line-height: 72px;
}
/* 热门 */
div.hot{
     width:1024px;/*height:88px; */
    margin:0 auto;
    
}
div.hot span{
    color:#666;
    display: block;
    float:left;
}
div.hot ul{
    margin: 0 0 10px;
    padding:0 0 0 15px;
     width:930px;/*height:88px; */
    display: flex;
    flex-flow:row wrap;
    /* justify-content: space-between; */
}
div.hot ul li{
    background: #f5f5f5;
    height:33px;
    line-height:33px; 
    padding:0 12px;
    margin:0 10px 15px 0;
    border-radius:3%;
}
div.hot ul li:hover{
    background: #00bc63;
}
div.hot ul a{
    display:block;
    font-size:13px;
    color:#000;
}
#all a{
    color:#00bc63;
}

/* 汽车详情 */
.details{
    width:1024px;height:1500px;
    margin:0 auto;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.details div{
    width:245px;height:300px;
}
.details img{
    width:245px;height: 172px;
}
/* 字体样式 */
.details div p{
    margin:5px 0;
}
.details div p:nth-child(2){
    font-size: 15px;
    font-weight: bold;
}
.details div p:nth-child(3){
    font-size: 13px;
    color:#666;
}
.details div p>span{
    color:#ff6633;
}
.details div p:nth-child(4){
    font-size: 15px;
    font-weight: bold;
    color:#ff4d3b;
    margin:15px 0;
}

/* 分页条       */
.paging{
    width:520px;height:40px;
    margin:0 auto;
}
.paging .paging-1{
    margin: 0 5px;
}
.paging ul li{
    float: left;
}
.paging ul .paging-1 a{
    font-size: 3px;
    display:block !important; 
    width:60px !important;height:40px !important;
    padding:0 20px;
    color:#333;
} 
 .paging ul li:not([class="padding-1"])>a{
    display:block;
    border:1px solid #999;
    line-height: 40px ;
    width:40px;height:40px;
    text-align: center;
    color:#333;
} 
.paging ul li:nth-child(2){
    background-color:#00bc63;
}
.paging ul li:hover{
    border:1px solid #00bc63;
}
